<div class="user-info">
  <% if user == current_user %>
    <div class="user-info--post">
      <%= link_to "投稿する", new_post_path %>
      <i class="fas fa-feather-alt"></i>
      <%= link_to "Profile edit", edit_user_path(user) %>
      <i class="fas fa-user-edit"></i>
    </div>
  <% end %>

  <div class="user-info--follow">
    <% if user != current_user %>
      <% if current_user.following?(user) %>
        <a id="modan_open">Chatsを始める</a>
        <%= link_to "フォローを外す", user_relationships_path(user.id), method: :delete, class:"btn btn-success" %>
      <% else %>
        <%= link_to "フォローする", user_relationships_path(user.id), method: :post, class:"btn btn-success" %>
      <% end %>
    <% end %>
  </div>

  <div class="user-info--doing">
    <div class="user-info--image">
      <%= attachment_image_tag(user, :user_image, fallback: "no_image.jpg") %>
    </div>
    <div class="user-info--number">
      <p>
        <%= user.posts.count %><br>
        投稿
      </p>
      <p>
        <%= link_to user.followings.count, user_followings_path(user) %><br>
        フォロー
      </p>
      <p>
        <%= link_to user.followers.count, user_followers_path(user) %><br>
        フォロワー
      </p>
    </div>
  </div>

  <div class="user-info--contents">
    <p><%= user.name %></p>
    <p class="user-info--contents__introduce">
      introduction<br>
      <%= user.introduce %>
    </p>
  </div>

  <div class="user-info--like">
    <p>お気に入り</p>
    <div class="user-info--like__contents">
      <p>
        <%= link_to user.post_favorites.count, user_favorite_posts_path(user) %><br>
        Post
      </p>
      <p>
        <%= link_to user.facility_favorites.count, user_favorite_facilities_path(user) %><br>
        Facility
      </p>
    </div>
  </div>
</div>

<% if user != current_user %>
  <% if current_user.following?(user) %>
    <div class="chats">
      <div class="chats--background" id="modan_close"></div>
      <div class="chats--messages">
        <div class="chats--title">
          <h1><%= @user.name %>のチャット</h1>
        </div>
        <div class="chats--contents">
          <% @messages.each do |chat| %>
            <% if chat.user == current_user %>
              <p style="text-align: right;"><%= chat.message %><br><%= chat.created_at.strftime("%H:%M:%S") %></p>
            <% else %>
              <p style="text-align: left;"><%= chat.message %></p>
            <% end %>
          <% end %>
        </div>

        <div class="chats--form">
          <%= form_with model: @message, remote: true do |f| %>
            <%= f.text_field :message %>
            <%= f.hidden_field :room_id %>
            <%= f.submit "送信する", id: "submit" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>