<div class="user-info">
  <% if user == current_user %>
    <div class="user-info--post">
      <%= link_to "投稿する", new_post_path %>
      <i class="fas fa-feather-alt"></i>
      <%= link_to "Profile edit", edit_user_path(user) %>
      <i class="fas fa-user-edit"></i>
    </div>
  <% end %>

  <% if user != current_user %>
    <div class="user-info--follow">
      <%= render "relationships/showpage", user: user%>
    </div>
  <% end %>

  <div class="user-info--doing">
    <div class="user-info--image">
      <%= attachment_image_tag(user, :user_image, fallback: "no_image.jpg") %>
    </div>
    <div class="user-info--number">
      <p>
        <%= user.posts.count %><br>
        投稿
      </p>
      <% if user != current_user %>
        <p id="following_modan_open" class="under_line follow_count">
          <%= render "relationships/follow_count", user: user %>
        </p>
        <p id="follower_modan_open" class="under_line follower_count">
          <%= render "relationships/follower_count", user: user %>
        </p>
      <% else %>
        <p id="following_modan_open" class="under_line current_user_follow_count">
          <%= render "relationships/follow_count", user: user %>
        </p>
        <p id="follower_modan_open" class="under_line urrent_user_follower_count">
          <%= render "relationships/follower_count", user: user %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="user-info--contents">
    <p><%= user.name %></p>
    <p class="user-info--contents__introduce">
      introduction<br>
      <%= user.introduce %>
    </p>
  </div>

  <div class="user-info--like">
    <p>お気に入り</p>
    <div class="user-info--like__contents">
      <p>
        <%= link_to user.post_favorites.count, user_favorite_posts_path(user) %><br>
        Post
      </p>
      <p>
        <%= link_to user.facility_favorites.count, user_favorite_facilities_path(user) %><br>
        Facility
      </p>
    </div>
  </div>
</div>

