
  <div class="facilities--list">
    <table class="facilities--table">
      <thead>
        <tr>
          <th>施設名</th>
          <th>営業時間</th>
          <th>住所</th>
          <th>最寄り駅</th>
        </tr>
      </thead>
      <tbody>
        <% @facilities.each do |facility| %>
          <tr>
            <td>
              <%= link_to facility_path(facility) do %>
                <%= facility.facility.name %>
              <% end %>
            </td>
            <td><%= facility.facility.opening.strftime("%H時%M分") %> ~ <%= facility.facility.closing.strftime("%H時%M分") %></td>
            <td><%= facility.facility.address %></td>
            <td><%= facility.facility.station %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="new-facility--form-group">
      <button onclick="AddressSearch(this.value)" type="button" class="new-facility--search-map" id="address" value="東京">東京</button>
      <button onclick="AddressSearch(this.value)" type="button" class="new-facility--search-map" id="address" value="大阪">大阪</button>
      <button onclick="AddressSearch(this.value)" type="button" class="new-facility--search-map" id="address" value="札幌">札幌</button>
      <button onclick="AddressSearch(this.value)" type="button" class="new-facility--search-map" id="address" value="岐阜">名古屋</button>
      <button onclick="AddressSearch(this.value)" type="button" class="new-facility--search-map" id="address" value="佐賀">佐賀</button>
    </div>
  </div>

  <div class="facilities--map">
    <div class="facilities--map__size" id="index_map"></div>
  </div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKzm8Q1CsziI929WJM-dQQlwV1L3MpydY&callback=initMap"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src="//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js", type:"text/javascript"></script>