<div class="container mt-5">
  <div class="row">

    <div class="col-md-9">
      <% @facilities.each do |facility| %>
        <div>
          <%= link_to facility_path(facility) do %>
            <%= attachment_image_tag facility, :facility_image, :fill, 50, 50, fallback: "no_image.jpg" %>
            <%= facility.name %>
            営業時間<%= facility.opening %> ~ <%= facility.closing %>
            最寄り駅<%= facility.station %>

          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="index_maps" id="index_map" style="height: 650px; width: 500px;"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKzm8Q1CsziI929WJM-dQQlwV1L3MpydY&callback=initMap"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src="//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js", type:"text/javascript"></script>