<div class="row mt-5 offset-md-2">
    <div class="col-md-3">
      <div class="row">
        <div class="col-mb-6">
          <%= attachment_image_tag(@facility, :facility_image, :fill, 50, 50, fallback: "no_image.jpg") %>
        </div>
        <div class="col-mb-6">
          <%= @facility.name %>
        </div>
      </div>

      <div>
        <h2>施設情報</h2><br>
        <%= @facility.opening %> ~ <%= @facility.closing %>
      </div>

      <div>
        郵便番号<%= @facility.postcode %>
      </div>

      <div>
        住所<%= @facility.address %>
      </div>

      <div>
        最寄り駅<%= @facility.station %>
      </div>

      <div>
        駐車場<%= @facility.station %>
      </div>

      <div>
        電話番号<%= @facility.phone_number %>
      </div>

      <div>
        メールアドレス<%= @facility.email %>
      </div>

      <% if @facility.comment %>
        <div>
          コメント<%= @facility.comment %>
        </div>
      <% end %>

      <% if current_user %>
      <div id = "favorites_btn_<%= @facility.id %>">
        <%= render 'facility_favorites/like', facility: @facility %>
      </div>
      <% end %>
    </div>

  <div class="col-md-8">
    <div class="show__maps" id="show_map" style="height: 650px; width: 100%;"></div>
  </div>

</div>

<div id="calendar" style="width: 80%; margin: 0 auto;"></div>


<% if current_user %>

  <div class="new-reserve" >
    <h2>Reserve</h2>
    <%= form_with(model: [@facility, @reserve_facility], local: true) do |f| %>
      <%= f.label :日時 %>
      <%= f.datetime_field :start %>
      <%= f.datetime_field :finish %>
      <%= f.label :人数 %>
      <%= f.text_field :number %>
      <%= f.submit "予約する" %>
    <% end %>
  </div>

  <div class="new-comment">
    <h2>Comments</h2>
    <%= form_with(model: [@facility, @comment], local: true) do |f| %>
      <div id="evaluate_stars">
        <label>評価</label>
      </div>
      <%= f.label :comment %>
      <%= f.text_area :comment %>
      <%= f.submit "コメントする" %>
    <% end %>
  </div>

  <div class="comments">
    <%= render "facility_comments/index", facility_comments: @facility_comments %>
  </div>
<% end %>

<script>
  $('#evaluate_stars').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'facility_comment[rate]' //登録するモデル名とカラム名を記述
  });
</script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKzm8Q1CsziI929WJM-dQQlwV1L3MpydY&callback=initMap"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src="//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js", type:"text/javascript"></script>