<div class="facility-show">
  <div class="facility-show--info">
    <h2 class="title_border">施設情報</h2>
    <div class="facility-show--details">
      <div class="facility-show--details__title">
        <p>施設名</p>
      </div>
      <div class="facility-show--details__data">
        <%= @facility.name %>
        <% if current_user %>
          <span id = "facility-favorite">
            <%= render 'facility_favorites/like', facility: @facility %>
          </span>
        <% end %>
      </div>
    </div>

    <div class="facility-show--details">
      <div class="facility-show--details__title">
        <p>営業時間</p>
      </div>
      <div class="facility-show--details__data">
        <p><%= @facility.opening.strftime("%H時%M分") %> ~ <%= @facility.closing.strftime("%H時%M分") %></p>
      </div>
    </div>

    <div class="facility-show--details">
      <div class="facility-show--details__title">
        <p>郵便番号</p>
      </div>
      <div class="facility-show--details__data">
        <p>〒<%= @facility.postcode %></p>
      </div>
    </div>

    <div class="facility-show--details">
      <div class="facility-show--details__title">
        <p>住所</p>
      </div>
      <div class="facility-show--details__data">
        <p><%= @facility.address %></p>
      </div>
    </div>

    <div class="facility-show--details">
      <div class="facility-show--details__title">
        <p>最寄り駅</p>
      </div>
      <div class="facility-show--details__data">
        <p><%= @facility.station %></p>
      </div>
    </div>

    <div class="facility-show--details">
      <div class="facility-show--details__title">
        <p>駐車場</p>
      </div>
      <div class="facility-show--details__data">
        <p><%= @facility.parking %></p>
      </div>
    </div>

    <div class="facility-show--details">
      <div class="facility-show--details__title">
        <p>電話番号</p>
      </div>
      <div class="facility-show--details__data">
        <p><%= @facility.phone_number %></p>
      </div>
    </div>

    <div class="facility-show--details">
      <div class="facility-show--details__title">
        <p>メールアドレス</p>
      </div>
      <div class="facility-show--details__data">
        <p><%= @facility.email %></p>
      </div>
    </div>

    <div class="facility-show--photo">
      <%= attachment_image_tag(@facility, :facility_image, fallback: "no_image.jpg") %>
    </div>
  </div>
  <div class="facility-show--map">
    <div class="show__maps" id="show_map"></div>
  </div>

  <div class="facility-show--function">
    <div class="facility-show--calendar" style="width: 45%;">
      <div id="calendar"></div>
    </div>
    <div class="facility-show--function__detail">
       <%= render "facilities/reserve", facility: @facility, reserve_facility: @reserve_facility %>
    </div>
  </div>
  <div class="facility-show--rate-comment">
    <div class="facility-show--rate" id="facility-show--rate">
      <%= render "facility_comments/graph", facility_comments: @facility_comments, data5: @data5, data4: @data4, data3: @data3, data2: @data2, data1: @data1 %>
  　</div>

    <div class="facility-show--comment-form">

      <div id="facility-show--form">
        <%= render "facility_comments/form", facility: @facility, comment: @comment, facility_comments: @facility_comments %>
      </div>

      <div id="facility-show--comments">
        <%= render "facility_comments/index", facility_comments: @facility_comments %>
      </div>
    </div>
  </div>
</div>

<!--カレンダーのモーダルウィンドウ-->
<div id="calendarModal" class="modal fade">
  <%= render "reserve_facilities/modal" %>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src="//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js", type:"text/javascript"></script>