<div class="game">
  <h1>Ranking East</h1>

  <%= link_to game_east_path(year: :"2020") do %>
    <div class="game--conference__east">
      <p class="game--link__east">East</p>
    </div>
  <% end %>

  <%= link_to game_west_path(year: :"2020") do %>
    <div class="game--conference__west">
      <p class="game--link__west">West</p>
    </div>
  <% end %>

  <table class="game--table">
    <div class="game--years">
      <ul class="game--years__tab">
        <li><%= link_to "2018", game_east_path(year: :"2018"), remote: true %></li>
        <li><%= link_to "2019", game_east_path(year: :"2019"), remote: true %></li>
        <li class="active"><%= link_to "2020", game_east_path(year: :"2020"), remote: true %></li>
      </ul>
    </div>
    <thead>
      <tr>
        <th>順位</th>
        <th>チーム</th>
        <th>勝</th>
        <th>負</th>
        <th>差</th>
        <th>直近（10試合）</th>
        <th>勝率</th>
      </tr>
    </thead>
    <tbody class="game--rank">
      <%= render "homes/game", team_rank: @team_rank %>
    </tbody>
  </table>
</div>