<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="col-mb-6">
          <%= attachment_image_tag(@user, :user_image, :fill, 50, 50, fallback: "no_image.jpg") %>
        </div>
        <div class="col-mb-6">
          <%= @user.name %><br>
          <%= link_to "Follow", user_followings_path(@user) %><br>
          <%= link_to "Follower", user_followers_path(@user) %><br>
        </div>
      </div>

      <div class="row">
        <p>introduction</p><br>
        <%= @user.introduce %>
      </div>

      <div class="row">
        <p>Like</p><br>
        <%= link_to "Posts", "#" %><br>
        <%= link_to "Facilities", "#" %><br>
      </div>

      <div class="row">
        <p>Message</p>
      </div>


    </div>
    <div class="col-md-9">
      <h2>gmap</h2>
      <div id='map'></div>

      <style>
      #map{
        height: 500px;
      }
      </style>

      <script>
      function initMap(){
        let map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -34.397, lng: 150.644},
        zoom: 8
        });
      }
      </script>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKzm8Q1CsziI929WJM-dQQlwV1L3MpydY&callback=initMap"></script>
  </div>
</div>