<header>
  <div class="header-top">
    <div class="header-top-logo">Logo</div>
    <%= link_to "施設登録の方はこちら", new_admin_registration_path %>
    <%= link_to "施設管理者用ログイン", new_admin_session_path %>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark header-nav">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto d-flex align-items-start">
          <% if user_signed_in? %>
            <li><%= link_to "Game", game_path, class: "nav-link text-light" %></li>
            <li><%= link_to "News", news_path, class: "nav-link text-light" %></li>
            <li><%= link_to "Mypage", user_path(current_user), class: "nav-link text-light" %></li>
              <%= link_to root_url do %>
                <img src="/assets/logo.png">
              <% end %>
            </li>
            <li><%= link_to "Posts", posts_path, class: "nav-link text-light" %></li>
            <li><%= link_to "Facility", facilities_path, class: "nav-link text-light" %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% elsif admin_signed_in? %>
            <li><%= link_to "Game", game_path, class: "nav-link text-light" %></li>
            <li><%= link_to "News", news_path, class: "nav-link text-light" %></li>
            <li><%= link_to "NewFacility", new_facility_path, class: "new_facility" %></li>
              <%= link_to root_url do %>
                <img src="/assets/logo.png">
              <% end %>
            </li>
            <li><%= link_to "Mypage", facility_path(current_admin), class: "nav-link text-light" %></li>
            <li><%= link_to "Facility", facilities_path, class: "nav-link text-light" %></li>
            <li><%= link_to "Logout", destroy_admin_session_path, method: :delete, class: "nav-link text-light" %></li>
          <% else %>
            <li><%= link_to "Game", game_path, class: "nav-link text-light" %></li>
            <li><%= link_to "News", news_path, class: "nav-link text-light" %></li>
            <li>
              <%= link_to root_url do %>
                <img src="/assets/logo.png">
              <% end %>
            </li>
            <li><%= link_to "Sign-Up", new_user_registration_path, class: "nav-link text-light" %></li>
            <li><%= link_to "Sign-In", new_user_session_path, class: "nav-link text-light" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>