<!DOCTYPE html>
<html>
  <head>
    <title>BaskeNav</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <scrpt src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></scrpt>
  </head>

  <body data-turbolinks="false">
    <!--ヘッダー部分テンプレート-->
    <%= render "layouts/header" %>
    <% if flash[:notice] %>
      <p class="flash_notice"><%= flash[:notice] %></p>
    <% end %>

    <%= yield %>

    <div class="search">
    <div class="search--background modan_close3"></div>
    <div class="search--member">
      <div class="search--header">
        <h1>Search Users</h1>
        <div class="search--form">
          <%= form_with(url: search_users_path, local: true, method: :get) do |f| %>
            <%= f.text_field :keyword, placeholder: "ユーザーを検索", class: "search-input" %>
          <% end %>
        </div>
      </div>
      <div class="search--users"></div>
    </div>
  </div>

    <!--フッター部分テンプレート-->
    <%= render "layouts/footer" %>

  </body>
</html>
